table {
  width: 600px;
  border-collapse: collapse;
  margin: 100px auto 20px;
}

th {
  color: #f2f2f2;
  background-color: #303030;
}

th,
td {
  padding: 4px;
  text-align: center;
  border: 1px solid #1a1a1a;
}
